{% extends 'base.html.twig' %}

{% block body %}

    {# Ceci est un commentaire Twig #}
    <!--<p>Ceci est un commentaire HTML</p>-->
    <h1>Bonjour {{ firstName }} {{ lastName | upper }}</h1>
    {% if birthdate < 1946 %}
        <p>Vous êtes né(e) avant la fin de la seconde guerre mondiale.</p>
    {% else %}
        <p>Vous êtes né(e) après la fin de la seconde guerre mondiale.</p>
    {% endif %}
    <ul>
        {% for movie in movies %}
            <li>{{ movie }}</li>
        {% endfor %}
    </ul>
    {% set appName = "<script>alert('Bonjour')</script>" %}
    {{ appName }}

{% endblock %}

{% block title %}
    Espace personnel
{% endblock %}
